
.container {
    min-height: 100vh;
    max-width: 95vw;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../public/images/backgroundlogin.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
    
